/* comentario */

*{
margin: 0;
padding: 0 ;
box-sizing: border-box
}

@font-face {
    font-family: "valorant-font";
    src: url(../fonts/valorant-font.ttf);
}

header{
    background-color: #0f1923;
}

p{
    color: #0f1923;
    font-family: monospace;
    font-size: 16px;
    
}

a{
    text-decoration: none;
    color: #ece8e1;
}

h1{
    color: #ece8e1;
    font-size: 80px;
    text-align: center;
    padding: 1rem;
    font-family: "valorant-font";
}

h2{
    color: #0f1923;
    font-size: 50px;
    
    padding: 1rem;
    font-family: monospace;
}

body{
background-color: #ece8e1;
}


footer {
    background-color:#0f1923;
}
.footer {
    padding: 4rem;
    font-family: monospace;
}


section.news-1 {
    display: flex;
    flex-grow: 1;
    margin: 1% 4% 3% 4%;
}

section.news-2 {
    display: flex;
    flex-grow: 1;
  
}

.news-banner-principal {
    padding: 3rem;
    display: flex;
    gap: 3rem;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #0f1923;
}

.agente-semanal {
    padding: 3rem;
    display: flex;
    gap: 3rem;
    border: 2px solid;
    border-radius: 2rem;
}

section.news-3 {
    padding: 3rem;
    display: flex;
    gap: 3rem;
    border: 2px solid;
    border-radius: 2rem;
}

img.imagen-noticia {
    width: 40%;
   
}

img.imagen-agente-news {
    width: 40%;
}

p.texto-news-1 {
    margin: 0% 12% 0 0%;
    font-size: 18px;
    font-weight: bold;
    color: #d6d5d2;
}

p.texto-news-2 {
    margin: 0% 12% 0 0%;
    font-size: 18px;
    font-weight: bold;
    color: #d6d5d2 ;
}

ul.menu-interno {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style-type: none;
    color: #ece8e1;
    padding: 1rem;
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(255, 48, 64);
    margin: auto;
}

section.valorant-bannerinicio {
    text-align: center;
    margin-bottom: 2rem;
    
}

.carousel-item.active {
    text-align: center;
}

section.titulo-clips {
    background-color: black;
}

img.banner-principal-paginas {
    width: 100%;
}

.listas-footer {
    display: flex;
    justify-content: center;
    gap: 12rem;
    font-family: monospace;
}

ul.columna-footer {
    padding: 1rem;
    color: #d6d5d2;;
    list-style: none;
    font-family: monospace;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

h5.titulo-columnas-footer {
    margin-bottom: 3rem;
}

li.lista-1 {
    font-size: medium;
    margin-bottom: .5rem;
}

.promociones {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

section.sector-promo {
    border-bottom: .2rem solid #ece8e1;
    color: #d6d5d2;
    font-family: monospace;
}

h5.titulo-columnas-redes {
    margin-top: 5rem;
    color: #d6d5d2;
}

footer.footervalorant {
    margin-top: 8rem;
}

section.sector-derechos {
    border-top: .2rem solid #ece8e1;
    color: #d6d5d2;
    font-family: monospace;
}

.derechos1 {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.container-tarjetas {
    width: 100%;
    display: flex;
    
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.tarjetas {
    width: 350px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    background-color: #0f1923;
    text-align: center;
    
}

img.habilidad-personaje {
    width: 20%;
}

p.texto-personajes-bio {
    height: 220px;
}

img.imagen-personaje-bio {
    max-width: 250px;
}

.conteiner-clases-personajes {
    display: flex;
    justify-content: center;
}

img.roles-background {
    width: 90%;
}


h2.valorant-titulo-news {
    color:#d6d5d2;
}

.main-body {
    margin-left: 5rem;
    margin-right: 5rem;
    display: block;
    margin-top: 5rem;
    

    }

    .texto-introduccion {
        margin: 2rem 20rem 2rem 20rem;
        text-align: center;
    }